.feed{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

input{
    width: 100%;
}

#update-form{
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

#update-form #title{
    min-height: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #EAEAEA;
    margin-top: 20px;
    padding-left: 8px;
    font-size: 27px;
}

#update-form #item{
    border: 1px solid #EAEAEA;
    min-height: 75vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px 0 10px 8px;
    font-size: 18px;
    line-height: 30px;
}

#update-item-save-button{
    height: 65px;
    width: 150px;
    border: 1px solid #f2cac8;
    background:#f2cac8;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    display: block;
}

#main-container{
    max-height: 150px;
    width: 95vw;
    border: 1px solid #fdbb75;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px 15px;
    margin-top: 15px;
    /* background:#fb93bf;
    background:#f2cac8;
    background:#c36b85; */
    background:#fdbb75;
    position: relative;
}

#title{
    font-weight: 900;
    margin-bottom: 7px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#content{
    font-family: 'Nunito', sans-serif;
}

#main-container:hover{
    background:#e69238;
    z-index: 5
}

.modifying-icons{
    opacity: 0;
    height: 100%;
    width: 98%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}
.icon{
    z-index: 15;
    padding: 0 10px;
}
.icon img{
    height: 25px;
    width: 25px;
}
.modifying-icons:hover{
    opacity: 100;
}
