.feed{
    height: auto;
    width: 100%;
}

#main-container{
    max-height: 150px;
    width: 95vw;
    border: 1px solid #fdbb75;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px 15px;
    margin-top: 15px;
    /* background:#fb93bf;
    background:#f2cac8;
    background:#c36b85; */
    background:#fdbb75;
    position: relative;
}

#title{
    font-weight: 900;
    margin-bottom: 7px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#content{
    font-family: 'Nunito', sans-serif;
}

#main-container:hover{
    background:#e69238;
    z-index: 5
}

.modifying-icons{
    opacity: 0;
    height: 100%;
    width: 96%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    border: 1px solid black;
}
.icon{
    z-index: 15
}
.icon img{
    height: 25px;
    width: 25px;
}
.modifying-icons:hover{
    opacity: 100;
}
