
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nunito|Shadows+Into+Light|Open+Sans+Condensed:300|Roboto+Mono|Stylish&display=swap');


.App{
  height: auto;
  width: 100%;
  /* background: blue; */
  margin-top: 0;
}
